

form{
    text-align: center;
    margin: 36px auto 10px;
}

label input{
    height: 0;
    width: 0;
    opacity: 0;
}


label{
    display: block;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(192, 173, 191);
    border-radius: 50%;
    margin: 20px auto;
    line-height: 40px;
    color:#E3ACF9;
    font-weight: 900;
    font-size: 40px;
}

label:hover{
    background: #0008C1;
    color: #fff;
}

.output{
    height: 60px;
    font-size: 0.8rem;
}

.error{
    color: red;
}












